html,
body {
 height: 100%;
 position: relative;
}
body{
/*    font-family: 'Roboto', sans-serif;*/
    padding-bottom:60px; 
    margin:0;
   padding:0;
   height:100%;
    position: relative;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
    color: white;
    text-align: center;
}
footer .psmall{
    font-size: 10px;
}
.container.mineUser{ padding: 50px 15px;}

.mineUser .sv_qstn div h5{
    font-size: 20px;
    padding: 0 0 20px 0 ;
}
.mineUser .btn{
    height: 55px;
    width: 125px;
    white-space: normal;
}
.mineUser .panel-footer{
    border: none;
    background-color: #fff;
}
.mineUser .chart{
    width: 400px;
}
.mineUser .imageCont img{
    width: 200px;
    height: 125px;
    margin: 5px 0;
    
}
.mineUser .imageCont{
    width: 200px;
    margin: 5px;
    float: left;
}
.mineUser .panel-footer.card-footer input{
    color: #fff;
    background: #337ab7;
    padding: 6px 10px;
}
.mineUser .ocean{
    display: none;
}
.mineUser .ocean .block h3{
    margin: 25px 0;
}
.mineUser .clear{clear: both;}

.mineUser .block{
    width: 50%;
    float: left;
    padding: 10px;
    height: 455px;
}
.surveyResult{
    padding: 15px;
    margin: 0 0 15px 0;
    display: none;
}
.ocean .oceanIntro{
   padding: 40px 0 0 15px;
    
}
.mineUser .quotes{
    font-style: italic;
}
.credits{
    text-align: center;
}
.doughnut{
    width: 130px !important;
    height: 120px !important;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.open{
    border: 1px solid #e5e5e5;
    margin: 10px;
    padding: 10px;
    width: 30%;
    float: left;
    height: 280px;
}
.open h5{font-weight: normal;}
.open h5 span{font-weight: bold;}
.open h4, .open h5{text-align: center;}
.noshow{display: none;}
.bottom{margin-bottom: 75px;}
.retake{    text-align: center;
    margin-bottom: 40px;}


@media (max-width: 768px) { 
.mineUser .btn {
    height: 85px;
    width: 95px;
    white-space: normal;
}
    .open{
        height: 300px;
    }
    .mineUser .imageCont img {
    width: 150px;
    height: 125px;
    margin: 5px 0;
}
    .mineUser .imageCont {
    width: 45%;
    margin: 5px;
    float: left;
}
}
@media (max-width: 424px) { 
    .open{
        width: 90%;
    }
    .mineUser .block{
        width: 100%;
        height: auto;
    }
}