.container{padding: 100px 0;}

.mineUser .sv_qstn div h5{
    font-size: 20px;
    padding: 0 0 20px 0 ;
}
.mineUser .btn{
    height: 55px;
    width: 125px;
    white-space: normal;
}
.mineUser .panel-footer{
    border: none;
    background-color: #fff;
}
.mineUser .chart{
    width: 400px;
}
.mineUser .imageCont img{
    width: 200px;
    height: 125px;
    margin: 5px 0;
}
.mineUser .imageCont{
    display: inline;
    width: 200px;
    margin: 5px;
}
.mineUser .panel-footer.card-footer input{
    color: #fff;
    background: #337ab7;
    padding: 6px 10px;
}
.mineUser .ocean{
    display: none;
}
.mineUser .ocean .block h3{
    margin: 25px 0 0 0;
}
.mineUser .clear{clear: both;}

.mineUser .block{
    width: 50%;
    float: left;
    padding: 10px;
    height: 455px;
}
.surveyResult{
    padding: 15px;
    margin: 0 0 15px 0;
    display: none;
    width: 40%;
}
.ocean .oceanIntro{
   padding: 40px 0 0 15px;
    width: 40%;
}
.mineUser .quotes{
    font-style: italic;
}
.credits{
    font-size: 0.8em;
}